# === NODE MODULES ===
node_modules/
**/node_modules/

# === ENV FILES ===
.env
.env.local
.env.*.local

# === LOGS ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# === OS SYSTEM FILES ===
.DS_Store
Thumbs.db

# === BUILD FILES ===
dist/
build/

# === VSCODE SETTINGS ===
.vscode/

# === COVERAGE / TESTING ===
coverage/
*.lcov

# === MONGO DUMPS ===
dump/

# === NEXT.JS / OTHER ===
.next/
out/
.cache/

# === IDE ===
.idea/
*.iml

# === SOCKET.IO ===
socket.io/

# === CLOUDINARY TEMP (if
